{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb/base"
  ],
  "rules": {
    "arrow-body-style": 0,
    "import/no-unresolved": 0
  }
}
